.preview-container{
    position: relative;
    z-index:10000;

}

.preview-content{
    display: none;
    position: absolute;
    /*width: 1000px;*/
    padding: 2px;
    border: 3px ridge #eee;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #ffffff;
    z-index: 1000;
    top: 0;
    left: 30px;
}

.preview-content th{
    padding: 5px !important;
}

#changelist-form .results{
    overflow: visible;
}
